#container-legenda{
    z-index: 1; 
    
    position: absolute;
    left: 0px;
    right: 0px;    
    padding-left: 24px;
    padding-right: 24px;
    left: 15%;
    top: 2%;
    margin-right: 0px
}

#btn-filtro{
    width: 50px;
    height: 100%;
    background-color: #11bb3266;
}

#row-filtro{
    width: 30%;
    height: 650px;
    float: right;
    margin-right:0px;
    background-color: white;
    z-index: 1;
}

h1{
    font-size: 23px;
}

p{
    margin-bottom: 0px;
    margin-top: 8px;
}

.img-modUHI{
    width: 50%;
}

.name-modUHI{
    text: center;
}

.item-row{
    margin-top: 10%;
    margin-left: 0px;
    margin-bottom: 5%;
}