<div class='container' id='container-legenda'>
    <div class='row' >
        <div class='col-12'>
            <button class='btn' id='btn-filtro' (click)='showMenuModUHI()' style='float: right;'> 
                <img  src='assets/icon-menu.png' width='100%' height='100%' >
            </button>
        </div>
    </div>

    <div class='row' *ngIf='showModUHI' id='row-filtro' style="overflow-y: scroll;">
        <h1 class="text-center mb-3">Simula Modifica UHI</h1>
           
        <div class="row item-row" *ngFor="let fenUrb of tupla">
            <div class="col-4 text-end">
                <img  src={{fenUrb[0]}} class="img-modUHI">
            </div>
            <div class="col-8 name-modUHI">
                <p>{{fenUrb[1]}}</p>
            </div>

            <div class="col-2 text-end">
                <p>0</p>
            </div>
            <div class="col-8 text-center">
                <input type="range" id='{{fenUrb[3]}}' class="form-range" name="points" min="0" step="0.5" max="10" value={{fenUrb[2]}} (click)="updateValueRange(fenUrb[3])"><br>
                <h5>UHI: {{fenUrb[2]}}</h5>
            </div>
            <div class="col-2">
                <p>10</p>
            </div>
            <hr>
        </div>

        
        <div class="row item-row">
            <div class="col-12" style="text-align: center;">
                <button class="btn btn-primary" type="submit" (click)="saveOnFirebase()">Save on Firebase</button>
            </div>
        </div>

    </div>
</div>
     
