<div class="container" id="container-legenda">
    <div class="row" >
        <div class="col-12">
            <button class="btn" id="btn-filtro" (click)="showDivFil()" style="float: right; border: 2px solid blue;" *ngIf="showFiltro"> 
                <img  src="assets/filterDistretti.png" width="100%" height="100%" alt="">
            </button>
            <button class="btn" id="btn-filtro" (click)="showDivFil()" style="float: right;  border: 2px solid black;" *ngIf="!showFiltro"> 
                <img  src="assets/filterDistretti.png" width="100%" height="100%" alt="">
            </button>
        </div>
    </div>

    <div class="row" *ngIf="!showFiltro" id="row-filtro">
        <h1 class="text-center mb-3">Filtra distretti per UHI</h1>
        <div class="col-2 text-end">
            <p>1</p>
        </div>
        <div class="col-8 text-center">
            <input type="range" id="rangeInput" class="form-range" name="points" min="1" max="10" value="1" (click)="range()"><br>
            <h5>UHI: {{valoreFiltro}}</h5>
        </div>
        <div class="col-2">
            <p>10</p>
        </div>
    
        <div class="col-12 mt-20" style="text-align: center; margin-bottom: 20px; margin-top: 20px;">
            <button class="btn" type="submit" (click)="filtraDistretti()" style="background-color: #00AD7C; width: 30%;"> <h5 id="btnSave">Filtra</h5></button>
        </div>

        <div class="col-12 mt-20" style="text-align: center; margin-bottom: 20px; margin-top: 20px;">
            <button class="btn" type="submit" (click)="eliminaFiltro()" style="background-color: red; width: 30%;"> <h5 id="btnSave">Elimina</h5></button>
        </div>
        

    </div>
</div>
