#container-Leggenda{
    z-index: 1;
    top: 48%;
    margin-left: 2px;
}

#btn-ShowHideLeggenda{
    
    width: 50px;
    height: 100%;
    background-color: #00AD7C;
    /*
    width: 1.375em;
    height: 1.375em;
    */
}

#divLeggenda{
    z-index: 1;
    height: 53vh;
    width: 30vw;
    position: absolute;
    top: 15%;
    background-color: white;
    padding-right: 0px;
    padding-left: 0px;
}

#container-indiceFelicità{
    /*background-color: #00AD7C;*/
    font-size: 20px;
    color: #00AD7C;
}

#table-corema{
    width:60%;
}

#cont-leg-cor{
    background-color: #00AD7C;
    font-size: 23px;
}

#table-head{
   background-color: #00AD7C;
}

.row-cor{
    margin-right: 5px;
    margin-left: 5px;
   
}

#td-color{
    background-color: #FFF8B5;
}

.col-3{
    padding-top: 12px;
    padding-bottom: 12px;
    height: 100%;
}

.col-3:hover{
    background-color: #00AD7C;
}

p{
    margin-bottom: 0px;
}
