<p>menu-leggenda works!</p>
<!--
<div id="div_sidebar" *ngIf="!showLeggenda">
    <button id="menuButton" (click)="showDivLeg()">Click </button>
</div>
<div id="div_leggenda" *ngIf="showLeggenda"></div>
<div id="div_leggenda_open" *ngIf="showLeggenda">
    <button id="menuButton" (click)="showDivLeg()">Click </button>
</div>
--> 
<div class="container-fluid">
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Show leggenda
    </button>
</div>
  <div class="collapse div_leggenda" id="collapseExample">
    <div class="">
    </div>
  </div>