#container-Leggenda{
    z-index: 1;
    top: 2%;
    left: 2%;
    width: 4%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    position: absolute;
    
}

#container-Leggenda2{
    z-index: 1;
    top: 90%;
    left: 2%;
    width: 4%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    position: absolute;
    
}



#btn-ShowHideLeggenda{
    width: 100%;
    height: 100%;
    background-color: #00AD7C;
    
    
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
    
    
}

#btn-ShowHideLeggenda2{
    width: 50px;
    height: 100%;
    background-color: #00ad7c9e;
    border-radius: 2rem;    
}

#divLeggenda{
    z-index: 1;
    height: 42vh;
    width: 30vw;
    position: absolute;
    top: 57px;
    left: 2%;
    background-color: white;
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 1rem !important;
}

#divLeggenda2{
    z-index: 1;
    height: 30vh;
    width: 30vw;
    position: absolute;
    top: 60%;
    left: 2%;
    background-color: white;
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 1rem !important;
}

#container-indiceFelicità{
    /*background-color: #00AD7C;*/
    font-size: 20px;
    color: #00AD7C;
    padding-top: 12px;
}

#table-corema{
    width:60%;
}

#cont-leg-cor{
    background-color: #00AD7C;
    font-size: 23px;
}

#cont-leg-cor2{
    background-color: #00AD7C;
    font-size: 23px;
}

#table-head{
   background-color: #00AD7C;
}

.row-cor{
    margin-right: 3px;
    margin-left: -9px;
   
}

#td-color{
    background-color: #FFF8B5;
}

.col-3{
    padding-top: 12px;
    padding-bottom: 12px;
    height: 100%;
}

.col-3:hover{
    background-color: #00AD7C;
}

p{
    margin-bottom: 0px;
}

#contcorema{
    background-color: #00AD7C;
}

.col-3{
    cursor: pointer;
}

#table-legenda{
    
    padding-left: 20px;
    padding-right: 20px;
}
