<div class="overlay-container">
    <!--
    <span class='overlay-text' id='feature-name'></span><br>
    <span class='overlay-text' id='feature-additional-info'></span><br>
    -->
    <div class="areaUrb1" *ngIf="showDiv">
        <img src='assets/fen_urb_icon/fen_urb.png' alt="" (click)="clickFenUrb()" *ngIf="showDiv">
       
    </div>

    <div class="areaUrb2" *ngIf="!showDiv">
        <img src='assets/fen_urb_icon/back.png' alt="" (click)="clickFenUrb()" *ngIf="!showDiv">
    </div>

    
</div>
