<!--Il click su un distretto(marker), mostra un'area urbana(div quadrato) con i fenomeni urbani(immagini) al suo interno-->
<div class="overlay-container">

    <div class="container">
        <div class="row mt-0">
            <div class="col-4" *ngIf="showDiv">
                <div class="container-icon" 
                    [ngStyle]="{'backgroundColor': orPedBackColor }">

                    <img src='{{ orPedImg }}' class="imgCity" alt="" *ngIf="showDiv">
                </div>
            </div>

            <div class="col-4 offset-4" *ngIf="showDiv">
                <div class="container-icon"
                    [ngStyle]="{'backgroundColor': elAmbBackColor }">

                    <img src='{{ elAmbImg }}' class="imgCity" style="cursor: pointer;" alt="" (click)="clickFenUrbElAmb()" *ngIf="showDiv">
                </div>
            </div>

             <!--div appaiono dopo click elementi ambientali-->
             <div class="col-4" *ngIf="!showDiv">
                <div class="container-icon">
                    <img src='{{caffeRistoImg}}' class="imgCity" alt="" *ngIf="!showDiv">
                </div>
            </div>

            
            <div class="col-4 offset-4" *ngIf="!showDiv">
                <div class="container-icon">
                    <img src='{{panchineImg}}' class="imgCity" alt="" *ngIf="!showDiv">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4" *ngIf="showDiv">
                <div class="container-icon"
                    [ngStyle]="{'backgroundColor': coesSpazBackColor }">
                    <img src='{{ coesSpazImg }}'  class="imgCity" alt="" *ngIf="showDiv">
                </div>
            </div>

            <div class="col-4 offset-4" *ngIf="showDiv">
                <div class="container-icon"
                    [ngStyle]="{'backgroundColor': orCiclBackColor }">
                    <img src='{{ orCiclImg }}'  class="imgCity" alt="" *ngIf="showDiv">
                </div>
            </div>

             <!--div appaiono dopo click elementi ambientali-->
             <div class="col-4" *ngIf="!showDiv">
                <div class="container-icon">
                    <img src='{{ opereDarteImg }}' class="imgCity" alt=""  *ngIf="!showDiv">
                </div>
            </div>

            <div class="col-4" *ngIf="!showDiv">
                <div class="container-back-icon">
                    <img src='assets/back-arrow-black.png' class="imgCity" alt="" style="cursor: pointer;" (click)="clickFenUrbElAmb()" *ngIf="!showDiv">
                </div>
            </div>

            <div class="col-4 " *ngIf="!showDiv">
                <div class="container-icon">
                    <img src='{{fontaneImg}}' class="imgCity" alt=""  *ngIf="!showDiv">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4" *ngIf="showDiv">
                <div class="container-icon"
                    [ngStyle]="{'backgroundColor': qualSpazBackColor }">
                    <img src='{{ qualSpazImg }}' class="imgCity" alt="" style="cursor: pointer;" (click)="clickFenUrbQualSpaz()" *ngIf="showDiv">
                </div>
            </div>

            <div class="col-4 offset-4" *ngIf="showDiv">
                <div class="container-icon"
                    [ngStyle]="{'backgroundColor': buonaVegBackColor }">
                    <img src='{{ buonaVegImg }}'  class="imgCity" alt="" *ngIf="showDiv">
                </div>
            </div>

            <!--div appaiono dopo click elementi ambientali-->
            <div class="col-4" *ngIf="!showDiv">
                <div class="container-icon">
                    <img src='{{ illumImg }}' class="imgCity" alt=""  *ngIf="!showDiv">
                </div>
            </div>

            <div class="col-4 offset-4" *ngIf="!showDiv">
                <div class="container-icon">
                    <img src='{{ accessoWCImg }}' class="imgCity" alt=""  *ngIf="!showDiv">
                </div>
            </div>

        </div>

    </div>


      

    
</div>







