/* Feature Overlay */
.overlay-container{
    background-color: #55555538;
      width: 300px;
      height: 250px;
      color: #fff;
      text-align: center;
      border-radius: 32px;
      padding: 2px 0;
      position: absolute;
      z-index: 1;
      bottom: 100%;
      left: 50%;
      margin-left: -151px;
      top: -125px;
      border: 2px solid black;
  
  }

  .container{
   /*background-color: blueviolet;*/
    width: 90%;
    height: 100%;
  }

  .row{
    margin-top: 23px;
  }
  
  .container-icon{
    width: 70px;
    height: 65px;
    background-color: #ff0000;
    border-radius: 32px;
    padding: 2px 0;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    top: -125px;
    border: 2px solid black;
  }

  .container-back-icon{
    width: 70px;
    height: 65px;
    background-color: white;
    border-radius: 32px;
    padding: 2px 0;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    top: -125px;
    border: 2px solid blue;
  }

  .imgCity{
    width: 48px;
    margin-top: 3px;
  }
  

  .areaUrb1{
    /*background-color: white;*/
    width: 99%;
    height: 99%;
    border-radius: 32px;
    margin-left: 1px
  }

  .areaUrb2{
    /*background-color: blue;*/
    width: 99%;
    height: 99%;
    border-radius: 32px;
    margin-left: 1px
  }