<!-- div mappa -->
<div id="js-map" class="map container-fluid">
    <app-menu-leggenda></app-menu-leggenda>

    <app-marker-distretto 
        (markerChildNotify)='markerNotifyMappa($event)'
        (markerChildIdDistretto)='markerChildGetIdDistretto($event)' 
        >
    </app-marker-distretto>

    <app-modifica-uhi
        *ngIf="showChild"
        [showModUHIComp]='showChild'
        [idDistretto] = 'idDistrettoFromMarker'
        >
    </app-modifica-uhi>

    <app-filtro-distretto
        *ngIf="!showChild">
    </app-filtro-distretto>  

</div> 
 
  